$grid-gutter: 1em;

.row {
    margin-left: -$grid-gutter;
    margin-right: -$grid-gutter;
}

@include generate_grid(xs, $grid-gutter);

@include phone-land {
    @include generate_grid(sm, $grid-gutter);
}

@include tablet-port {
    @include generate_grid(md, $grid-gutter);
}

@include tablet-land {
    @include generate_grid(lg, $grid-gutter);
}

// body {
//     max-width: 60em;
//     margin: 2em auto;
// }


// .bg {
//     background: #BBB;
//     padding: 0.2em;
//     margin-bottom: 1em;
// }

// .grid::before, .grid::after {
//     content: "";
//     display: table;
// }

// .grid::after {
//     clear: both;
// }

// .grid {
//     margin-left: -10px;
//     // margin-right: -10px;
// }

// .grid-1,
// .grid-2,
// .grid-3,
// .grid-4,
// .grid-5,
// .grid-6,
// .grid-7,
// .grid-8,
// .grid-9,
// .grid-10,
// .grid-11,
// .grid-12 {
//     float: left;
//     padding-left: 10px;
//     padding-right: 10px;
// }

// .grid-12 {
//     width: 100%;
// }
// .grid-1 {
//     width: 100 / 12 * 1%;
// }
// .grid-2 {
//     width: 100 / 12 * 2%;
// }
// .grid-3 {
//     width: 100 / 12 * 3%;
// }
// .grid-4 {
//     width: 100 / 12 * 4%;
// }
// .grid-5 {
//     width: 100 / 12 * 5%;
// }
// .grid-6 {
//     width: 100 / 12 * 6%;
// }
// .grid-7 {
//     width: 100 / 12 * 7%;
// }
// .grid-8 {
//     width: 100 / 12 * 8%;
// }
// .grid-9 {
//     width: 100 / 12 * 9%;
// }
// .grid-10 {
//     width: 100 / 12 * 10%;
// }
// .grid-11 {
//     width: 100 / 12 * 11%;
// }